@model GebruikerVM

<form class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
       <img src="https://www.drupal.org/files/project-images/reg_confirm_email_with_button_0.png"
        class="img-fluid" alt="Phone image">
      </div>
     <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
   </form>
          
         <form method ="post">
          <div class="form-outline mb-4">
            <label asp-for="Alias">Alias</label>
            <input asp-for="Alias" class="form-control" />
            @*<span asp-validation-for="Gerbuikersnaam" class="text-danger"></span>*@ 
          </div>
           <div class="form-outline mb-4">  
            <label asp-for="Gerbuikersnaam">Gebruikersnaam</label>
            <input asp-for="Gerbuikersnaam" type="password" class="form-control" /> 
            @*<span asp-validation-for="Wachtwoord" class="text-danger"></span>  Dit is voor foutmelding ook*@
@*            staat die type daar goed? *@         
           </div>
            <div class="form-outline mb-4">  
            <label asp-for="Wachtwoord">Wachtwoord</label>
            <input asp-for="Wachtwoord" type="password" class="form-control" /> 
            @*<span asp-validation-for="Wachtwoord" class="text-danger"></span>*@          
            </div>
              
              <input type="submit" value="Maak account aan" style="lighting-color" class="btn btn-primary" />
              @*<button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>  misschien dit, en hoe zet ik die width *@
              
          </form>
        </div>
      </div>
    </div>
  </section>


